html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  color: rgb(50, 50, 50);
}


h2 {
	font-weight: 100;
	font-size: 7em;
	line-height: 1em;
	text-transform: uppercase;
  letter-spacing: .05em;
	text-align: center;
	margin: 0;
	padding: 10% 0;
}


h3 {
	font-weight: 100;
	font-size: 4em;
	line-height: 1em;
	text-transform: uppercase;
  letter-spacing: .05em;
	text-align: center;
	margin: 0;
	padding: 10% 0;
}

/* subtitle */

h4 {
  font-size: 2em;
  margin: 0.5em 0;
}

/* topic for each part */
/* 默认靠左，居中去下面自己调 */
h5 {
  font-size: 1.6em;
  text-align: left;
  margin: 1% 0;
}

h6 {
  display: block;
  font-size: 1.3em;
  text-align: center;
  color: darkviolet;
  text-transform: capitalize;
  margin: 0 auto;
}


/* 默认靠左，居中去下面自己调 */
p {
  font-size: 1.4em;
	line-height: 1.4em;
  text-align: left;
}
li {
  text-align: left;
}


img {
  width: 100%;
  height: auto;
}


a {
  text-decoration: none;
  color: lightseagreen;
}
a:visited {
  color: darkslategray;
}
a:hover {
  color: orange;
}


/* ==========================================================================
   Sections
   ========================================================================== */

.section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	height: auto;
  padding: 10% 10%;
}



/* ==========================================================================
   Section Navigation
   ========================================================================== */

#section-menu {
	position: fixed;
	top: 50%;
	left: 0.5%;
	z-index: 3000;
	text-transform: capitalize;

	-webkit-transition: all ease 0.1s;
	transition: all ease 0.1s;
}
#section-menu.freeze {
	/* left: -112px; */
	left: 0;
}
.touch #section-menu {
	display: none;
}
#section-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
  float: left;
}
#section-menu li {
  margin-bottom: 0.7em;
}
#section-menu li a {
	text-decoration: none;
  color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all ease 0.1s;
	transition: all ease 0.1s;
}
#section-menu li a span {
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.2)
}
#section-menu li a p {
  display: inline-block;
  margin: 0;
  visibility: visible;
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
}
#section-menu a p:hover{
  color: orange;
}
#section-menu a.active, #section-menu a.active p, #section-menu a.active span {
  font-weight: bold;
  color: rgb(50, 50, 50);
}
#section-menu.freeze a span {
  color: rgba(0, 0, 0, 0.2);
}
#section-menu.freeze a p {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
	transition: visibility 0s, opacity 0.5s linear;
}
#section-menu.freeze a.active span {
  color: black;
  font-weight: bold;
}
.section-menu-sub span {
  margin-left: 0.5em;
}


/* ==========================================================================
   Section
   ========================================================================== */


.inner {
	text-align: center;
}



/* cover-page */
#cover-page {
	font-weight: 150;
  letter-spacing: .05em;
	text-align: center;
	padding: 17% 0;
}
#cover-page h1 {
	text-transform: uppercase;
}
#cover-page p {
	text-align: center;
}


.page {
  padding: 8% 0;
}
.page li {
  font-size: 1.2em;
}


.reference-note {
  font-size: 0.6em;
  clear: both;
}
.reference-note p {
  margin: 0.4em 0;
}


.spline {
  padding: 0;
  margin-left: -10%;
  width: 100vw;
  height: 47em;
  /* box-sizing: content-box;
  display: flex;
  justify-items: center;
  align-items: center; */
}


.cutpage {
  height: 50vh;
}


.map {
  width: 80%;
  /* height: 45em; */
  box-sizing: content-box;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}
.map iframe {
  height: 45em;
}

/* placeholder */
.placeholder {
  box-sizing: content-box;
  height: auto;
  border: solid #5B6DCD 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#abstract-glimpse {
  width: 90%;
  height: 40em;
  margin: 0 auto;
}
.reference {
  /* list-style: none; */
  text-align: left;
}

/* auto gallery */
.gallery {
  height: max-content;
}

.gallery-container{
  margin: 3% auto;
	margin-bottom: 8%;
	width: 224px;
	height: auto;
	position: relative;
	perspective: 4000px;
}

#carousel:nth-child(1){
  margin-bottom: 10px;
	width: 100%;
	height: 116px;
	transform-style: preserve-3d;
	animation: rotation 200s infinite linear alternate ;
}
#carousel:nth-child(2){
  margin-bottom: 10px;
	width: 100%;
	height: 116px;
	transform-style: preserve-3d;
	animation: rotation 200s infinite ease-out  alternate ;
}
#carousel:nth-child(3){
	width: 100%;
	height: 116px;
	transform-style: preserve-3d;
	animation: rotation 200s infinite linear alternate ;
}

#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 95%;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	/* border: solid 5px black; */
  backface-visibility: hidden
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(635px);}
#carousel figure:nth-child(2) { transform: rotateY(20deg) translateZ(635px);}
#carousel figure:nth-child(3) { transform: rotateY(40deg) translateZ(635px);}
#carousel figure:nth-child(4) { transform: rotateY(60deg) translateZ(635px);}
#carousel figure:nth-child(5) { transform: rotateY(80deg) translateZ(635px);}
#carousel figure:nth-child(6) { transform: rotateY(100deg) translateZ(635px);}
#carousel figure:nth-child(7) { transform: rotateY(120deg) translateZ(635px);}
#carousel figure:nth-child(8) { transform: rotateY(140deg) translateZ(635px);}
#carousel figure:nth-child(9) { transform: rotateY(160deg) translateZ(635px);}
#carousel figure:nth-child(10){transform: rotateY(180deg) translateZ(635px);}
#carousel figure:nth-child(11) { transform: rotateY(200deg) translateZ(635px);}
#carousel figure:nth-child(12) { transform: rotateY(220deg) translateZ(635px);}
#carousel figure:nth-child(13) { transform: rotateY(240deg) translateZ(635px);}
#carousel figure:nth-child(14) { transform: rotateY(260deg) translateZ(635px);}
#carousel figure:nth-child(15) { transform: rotateY(280deg) translateZ(635px);}
#carousel figure:nth-child(16) { transform: rotateY(300deg) translateZ(635px);}
#carousel figure:nth-child(17) { transform: rotateY(320deg) translateZ(635px);}
#carousel figure:nth-child(18) { transform: rotateY(340deg) translateZ(635px);}

#carousel figure img{
  width: 100%;
	/* -webkit-filter: grayscale(1); */
	cursor: pointer;
	transition: all .5s ease;
}
#carousel figure img:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}


.tabs {
  left: 50%;
  transform: translateX(-50%);
  margin: 3em auto;
  position: relative;
  width: 100%;
  height: max-content;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  min-width: 240px;
}
/* 修改这里 */
.tabs input[name=computer-tab-control] {
  display: none;
}
.tabs input[name=topo-tab-control] {
  display: none;
}
/* 修改结束 */
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: rgb(50, 50, 50);
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: orange;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: orange;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  height: 35em;
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section img {
  height: 100%;
  width: auto;
}
/* 修改这里 */
/* computer */
.tabs input[name=computer-tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=computer-tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=computer-tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=computer-tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=computer-tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=computer-tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=computer-tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=computer-tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=computer-tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
/* 修改结束 */
/* topo */
.tabs input[name=topo-tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=topo-tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=topo-tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=topo-tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=topo-tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=topo-tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=topo-tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: rgb(50, 50, 50);
  text-decoration: none;
}
@media (max-width: 600px) {
  .tabs input[name=topo-tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=topo-tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}


@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
}



/* ==========================================================================
   image + text box
   ========================================================================== */

/* img1：一张图+一行字，并列分布 */

.img1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.img1 div {
  display: grid;
  place-items: center;
}

.img1 .keyimg {
  grid-column: 1 / 4;
}

.img1 img {
  width: 100%;
  height: auto;
}

.align-list {
  list-style: none;
  display: inline-block;
}
.align-list li {
  font-size: 1.1em;
  padding: 0.4em 0;
}

.keyword {
  font-size: 1em;
  color: darkviolet;
  list-style: none; 
  text-transform: capitalize;
}
.keyword li {
  display: inline;
  margin: 0 10px;
  padding: 3px 10px;
  background-color: white;
  text-align: center;
  box-shadow: 1px 1px 3px rgb(173, 173, 173);
  border-radius: 5px 5px;
}
.keyword-group ul li {
  vertical-align: 1em;
}
.keyword-img {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  height: 10em;
}
.keyword-img div {
  display: grid;
  place-items: center;
  height: 100%;
  background: center;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
	text-transform: capitalize;
  background-size: cover;
}


.punchline {
  margin-top: 2em;
  font-size: 1.2em;
  color: white;
  list-style: none; 
}
.punchline li {
  margin: 1em 8em;
  padding: 0.5em 10px;
  background-color: darkviolet;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(173, 173, 173);
  border-radius: 10px 10px;
}


.img2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sameheight {
  height: max-content;
}
.sameheight img {
  vertical-align: top;
  display: inline;
}

.storyboard {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.storyboard div {
  display: block;
  text-align: center;
  height: max-content;
  margin: 1em 0.8em;
  width: 200px;
  font-size: 0.8em;
}
.storyboard div img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.storyboard-3 div {
  width: 30%;
  font-size: 1em;
}
.storyboard-3 div img {
  width: 100%;
  object-fit: cover;
  height: auto;
}